.mail {
    flex: 1;
    background-color: whitesmoke;
}

.mail__tools{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.mail__toolsLeft{
    display: flex;
}


.mail__body{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    height: 100vh;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail__bodyHeader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
}

.mail__bodyHeader > h2{
    font-weight: 400;
    margin-right: 20px;
}

.mail__bodyHeader > p {
    margin-left: 20px;
}

.mail__time {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: gray;
}

.maiil__message > p {
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
 }

 .material-icons:hover  {
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}
.back-button {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #1a73e8;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }
  
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #1a73e8;
  }
  